
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    background-color: black;
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 28px;
    font-weight: 800;
    background-color: #00ff08;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer; 
    transition: .2s
}

.txt-topo-site .contato button {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 800;
    background-color: #00ff08;
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 30px;
    cursor: pointer; 
    transition: .2s
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}

button:hover {
    box-shadow: 0px 0px 8px #00ff08d5;
    transform: scale(1.05)
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

header nav.menu-desktop a:hover {      
    color: #00ff08;
 
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop li {
    display: inline-block;
    padding: 0 40px;
}

.whatsapp {
    padding: 10px 10PX;
    margin: 0 -15px -10px 10px;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 35px;
    right: 25px;
    background-color: #00ff08;
    border-radius: 40px;
    border: 0;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
    transition: .3s;
}


/*MENU MOBILE*/
.btn-abrir-menu i {
    color: #00ff08;
    font-size: 38px;
}



.menu-mobile {
    background-color: #000000;
    height: 100vh;
    width: 0%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
    overflow: hidden;
    transition: .5s;
}

.btn-abrir-menu{
    display: none;
}


.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #00ff08;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    padding: 20px 8%;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #00ff08;
    color: #000000;
}

.overlay-menu {
    background-color: #0000009c;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 88888;
    display: none;
}

/*ESTILO DO TOPO DO SITE*/
section.topo-site {
    padding: 40px 4%;
}

section.topo-site .flex {
    align-items: center;
    justify-content: space-between;
    gap: 90ox;
}     

.topo-site .txt-topo-site h1 {
    color:#fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-site .txt-topo-site p {
   color: #fff;
   margin: 40px 0; 
}

.topo-site .img-topo-site img {
    margin-top: -40px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100% {
        top: 36px;
    }
}

/*INÍCIO ESPECIALIDADES*/
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 25px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(218, 218, 218, 0.849);

}

.especialidades .especialidades-box i {
    font-size: 65px;
    color: #00ff08;
}

.especialidades .especialidades-box h3 {
    font-size: 30px;
    margin: 15px 0;
}

/*INÍCIO SOBRE*/
section.sobre {
    padding: 90px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 0;
    background-color: #00ff08;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}

/*ESTILO PORTIFOLIO*/
section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.137);
}

section.portifolio .flex {
   justify-content: space-around;
}

.interface h2 {
    padding: 52px 0;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: #00ff08;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overley {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: white;
    font-weight: 600;
    opacity: 0;
}

.overley:hover {
    opacity: 1;
}

/* ESTILO FOOTER*/
footer {
    padding: 50px 4%;
    box-shadow: 0 0 40px 10px #00ff083b;
}

footer .flex {
    justify-content: space-between;
}

footer .direitos {
    padding: 30px 4%;
    color: #fff;
    text-align: center;
    line-height: 1.9;
}

@media screen and (max-width: 1020px) {
    /*FLEX GERAIS*/
    .topo-site .flex {
        flex-direction: column-reverse;
    }

    .flex {
        flex-direction: column;
    }

    h2 .titulo {
        font-size: 30px;
        line-height: 25px;
    }

    /*CABEÇALHO*/
    .menu-desktop, .btn-contato {
        display: none;
    }

    /*TOPO DO SITE*/
    .btn-abrir-menu{
        display: block;
    }

    section.topo-site .flex {
        gap: 40px;
    }  

    section.topo-site {
        padding: 20px 8%;
    }

    .topo-site .txt-topo-site h1 {
        font-size: 30px        
    }

    .topo-site .img-topo-site img {
        margin-bottom: 24px;
        width: 100%;
       }

    /*ESPECIALIDADES*/
    section.especialidades {
        padding: 40px 8%;
    }

    .especialidades .especialidades-box {
        border: 2px solid #fff;
        width: 100%;
        max-width: 360px;
        margin: auto;
    }

    /*SOBRE*/
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }

    .img-sobre img {
       width: 100%;
    }
    
    .sobre .btn-social {
    text-align: center;
     margin-top: 50px;
    }

    /*PORTIFÓLIO*/
    section.portifolio {
        padding: 60px 8%;
    }
    
    .img-port {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }

    section.portifolio .flex {
        gap: 60px ;
     }

     /*RODAPÉ*/
     footer  .line-footer {
        text-align: center;
     }

     footer .btn-social {
        padding: 40px 8%;
        text-align: center;
     }

     footer .direitos {
        padding: 40px 4%;
     }
}
